* {
    font-family: didot;
    background-color: #EEE0C3;
    color: #8B4636;
}

img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }

li {
    font-size: 1.5rem;
}
button {
    margin: 10px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1rem;
}

h4 , p {
    text-align: center;
}

h6 {
    text-align: center;
}

hr.thin {
    height: 2px;
}

hr {
    height:none;
    height: 20px;
    background-color:#BD8750;
}

.hide {
    display: none;
}
